name: devops-task1-ci-cd

on:
  push:
    branches:
      - main

env:
  REGION: us-central1
  MY_CLUSTER: devops-gke
  REPO_NAME: devops-repo
  PROJECT_ID: ${{ secrets.GCP_PROJECT }}

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout Repository
      uses: actions/checkout@v3


    - name: Build Backend Image
      run: |
        SHA=${{ github.sha }}
        docker build -t backend:$SHA ./backend

    - name: Build Frontend Image
      run: |
        SHA=${{ github.sha }}
        docker build -t frontend:$SHA ./frontend

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Setup gcloud CLI
      uses: google-github-actions/setup-gcloud@v2


    - name: Configure Docker for Artifact Registry
      run: |
        gcloud auth configure-docker $REGION-docker.pkg.dev --quiet

    - name: Tag and Push Backend Image
      run: |
        SHA=${{ github.sha }}
        IMAGE=$REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/backend:$SHA

        docker tag backend:$SHA $IMAGE
        docker push $IMAGE

    - name: Tag and Push Frontend Image
      run: |
        SHA=${{ github.sha }}
        IMAGE=$REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/frontend:$SHA

        docker tag frontend:$SHA $IMAGE
        docker push $IMAGE
    - name: Install Helm
      uses: azure/setup-helm@v3

    - name: Update Helm values with new image tag
      run: |
        SHA=${{ github.sha }}
        sed -i "s/tag:.*/tag: \"$SHA\"/g" helm-chart/devops-app/values.yaml

    - name: Package Helm Chart
      run: |
        helm package helm-chart/devops-app

    - name: Login to Helm OCI Registry
      run: |
        helm registry login $REGION-docker.pkg.dev \
          -u oauth2accesstoken \
          -p "$(gcloud auth print-access-token)"

    - name: Push Helm Chart to Artifact Registry
      run: |
        helm push devops-app-0.1.0.tgz \
        oci://$REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME

    - name: Check if GKE Cluster Exists
      run: |
        if ! gcloud container clusters describe $my_cluster \
          --region $REGION \
          --project $PROJECT_ID
        then
          echo "GKE cluster not found. Failing pipeline."
          exit 1
        fi


    - name: Get GKE Credentials
      run: |
        gcloud container clusters get-credentials $my_cluster \
          --region $REGION \
          --project $PROJECT_ID

    - name: Pull Helm Chart
      run: |
        helm pull \
        oci://$REGION-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/devops-app \
        --version 0.1.0

    - name: Deploy Helm Release
      run: |
        helm upgrade --install devops-app devops-app-0.1.0.tgz